.clr{
    color: chocolate;
    
}
   body{
         font-family: 'Pacifico', cursive;
        width:500px; 
       background-color: antiquewhite;
    }
p {
    border-style: solid;
    border-width: 10px;
    border-color: aliceblue;
    padding-top:12px
    }
p:hover {
    background-color: red;
}